In [1]:
# Import the libraries
import pandas as pd
import numpy as np

In [2]:
# Import the dataset
data = pd.read_csv(r'C:\Users\Sai\Downloads\data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [4]:
# Mean:
data['Mthly_HH_Income'].mean()

41558.0

In [5]:
# Median:
data['Mthly_HH_Income'].median()

35000.0

In [6]:
# Mode:
data['Highest_Qualified_Member'].mode()

0    Graduate
Name: Highest_Qualified_Member, dtype: object

In [11]:
# Variance:
data['Mthly_HH_Expense'].var()

146173342.85714287

In [13]:
# Standard Deviation:
data['Mthly_HH_Expense'].std()

12090.216824240286

In [14]:
# Correlation:
data.corr()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
Mthly_HH_Income,1.000000,0.649215,0.448317,0.036976,0.970315,0.347883
Mthly_HH_Expense,0.649215,1.000000,0.639702,0.405280,0.591222,0.311915
No_of_Fly_Members,0.448317,0.639702,1.000000,0.085808,0.430868,0.597482
Emi_or_Rent_Amt,0.036976,0.405280,0.085808,1.000000,0.002716,-0.097431
Annual_HH_Income,0.970315,0.591222,0.430868,0.002716,1.000000,0.296679
No_of_Earning_Members,0.347883,0.311915,0.597482,-0.097431,0.296679,1.000000

# Normal Distribution & it's features:
1. It is bell shaped curve & it is limited to continuos data
2. Also called as Gaussian/Symmetric Distrivution
3. In this curve Mean = Median = Mode
4. Probability of a single value is 'infinity'
5. So we can only find the probability of an interval
6. Sum of probabilities under the normal curve is '1'

Positively Skewed & Negatively Skewed Normal Distribution & it's effect on Mean, Median and Mode due to Skewness
1.Positively Skewed: Most of the observations are falls on higher/postive side  
- It is also as called Right skewed
- Here Mean>Median>Mode 
2.Negatively Skewed: Most of the observations are falls on lower/negative side
- It is also called Left skewed
- Here Mean<Median<Mode

Explain QQ Plot and show the implementation of the same:
- It is a bivariate plot 
- To check normality of data distribution

Explain Box Cox and show the implementation of the same
- It is a uivariate plot 
- To check normality of data distribution & also to identify the whether outliers exists in it